:root {
    --hueso: #FAF7EE;
    --verde: #2f7a2c;
    --amarillo: #ffab49;
    --gris-oscuro: #444444;

}

html{
    font-size: 80%;
}

*,*:before,:after{
box-sizing: inherit;
}

body {
    font-family: "krub", sans-serif;
    font-size: 1.5rem;
}

.navbar-brand{
    margin-left: 30px;
}

.navbar{
    font-family: "Krub", sans-serif;
    font-size: 1.6rem;
    color: var(--amarillo);
    font-weight: 900;
    
}

.nav-item a{
    color: var(--amarillo);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    align-self: center;      
    margin-left: 100px;
}

.dropdown-menu{
    background-color: var(--verde);
    width: 200px;
    align-content: center;
}

.custom-toggler.navbar-toggler {
    background-color:var(--hueso) ;
    border-width: 5; 
}

.forms{
    width: 300px;
    margin-right: 30px;
}

