:root {
    --hueso: #FAF7EE;
    --verde: #2f7a2c;
    --amarillo: #ffab49;
    --gris-oscuro: #444444;
}
.contenedor .header{
display:flex;
justify-content: center;
align-items: center;

}
body {
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    padding-top: 20;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor>div,
.contenedor .contenido,
.contenedor .header,
.contenedor .sidebar,
.contenedor .footer {
    background: var(--hueso);
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background: var(--verde);
    color: var(--amarillo);
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .contenido {
    grid-column: span 2;
    background: #F9E79F;
    text-align: justify;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #F9E79F;
    text-align: justify;
    justify-content: center;

}

.contenedor .widget-1 {
    background: #97fac2;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 2;
}


.contenedor .widget-2 {
    background: #97fac2;
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: -1;
}
.contenedor .footer{
    background: var(--gris-oscuro);
    color: var(--hueso);
    grid-column: span 3;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .contenedor .contenido{
        grid-column: 1 / -1; 
    }

    
}