:root {
  --hueso: #faf7ee;
  --verde: #2f7a2c;
  --amarillo: #ffab49;
  --gris-oscuro: #444444;
}
body {
  font-family: "poppins", sans-serif;
  padding-top: 0;
  box-sizing: border-box;
  margin: 0;
  color: var(--hueso);
  font-size: 1rem;
}

#news {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
}
#news .contenido {
  width: 500px;
  border-radius: 10px;
  background: var(--verde);
  padding: 30px;
  grid-column: 1/3;
  margin-top: 30px;
  margin-left: 20px;
  box-shadow: 1px 6px 21px -1px #000000;
}
#news .contenido p {
  padding: 10px;
}
.sidebar {
  width: 300px;
  border-radius: 10px;
  padding: 30px;
  height: 900px;
  margin-top: 30px;
  background: var(--verde);
  box-shadow: 1px 6px 21px -1px #000000;
}
.sidebar h1 {
  font-size: 1.4rem;
}

.widget-1,
.widget-2 {
  border-radius: 10px;
  height: auto;
  background: var(--verde);
  padding: 30px;
  box-shadow: 1px 6px 21px -1px #000000;
}
.widget-1 {
  grid-column: 1/3;
  margin-top: 40px;
  margin-left: 20px;
  width: 500px;
}
.widget-2 {
  width: 300px;
  margin-top: 40px;
}
.widget-2 p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
